<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/chart.js"></script>
    <script src="/main.js"></script>
    <script type="text/javascript">
      var loadDataURL = "{{ loadURL }}";
      var devices = [
      {% for device in devices %}
      "{{ device }}",
      {% endfor %}
      ];
    </script>

    <title>Nest History - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
  </head>
  <body>
    The time is {{ time }}
    {% for device in devices %}
    <div id="chart_div_{{ device }}"></div>    
    {% endfor %}
    <!-- TODO: enable user auth -->
    <!-- <div id="logged-out"> -->
    <!--   <h3>Sign in to access your history</h3> -->
    <!--   <div id="firebaseui-auth-container"></div> -->
    <!-- </div> -->

    <!-- <div id="logged-in"> -->
    <!--   <h1>Welcome, <span id="user"></span>!</h1> -->
    <!--   <button id="sign-out">Sign out</button>  -->
    <!-- </div> -->
    
    <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
  </body>
</html>
{% endautoescape %}
